<h2>
  <span id="vote_score">
    Score: <%= @story.votes.size %>
  </span>
    <%= @story.name %>
</h2>
<p>
    <%= link_to @story.link, @story.link %>
</p>
<div id="vote_form">
    <% form_remote_for [ @story, Vote.new ] do |f| %>
        <%= f.submit 'shove it' %>
    <% end %>
</div>